body {font-size:100%; font-family:verdana;}
.content {font-size:80%; font-family:verdana; margin-left:10}
.indexhead {font-weight:bold; margin-top:1em}
a {text-decoration:none}
a:hover {background:#FFFF40;}
